@tailwind base;
@tailwind components;
@tailwind utilities;

/* Các code css khác của bạn ở dưới này (nếu có) */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
}